<div>
  <form novalidate [formGroup]="formulario" (ngSubmit)="mostrar()" autocomplete="off" >
    <div class="flex-container">


      <div><label>Email</label>
        <input type="text" id="email" formControlName="email">
        <div class="alert aler.danger mt-2"
          [hidden]="formulario.get('email')?.valid || formulario.get('email')?.pristine ">
          Ingresa un correo valido

        </div>
      </div>
      <div><label>Password</label>
        <input type="password" id="password" formControlName="password">
        <div class="alert aler-danger mt-2"
          [hidden]="formulario.get('password')?.valid || formulario.get('password')?.pristine ">el password es
          obligatorio
        </div>
        <label>nombre</label>
        <input type="nombre" id="nombre" formControlName="nombre">
        <div class="alert aler-danger mt-2"
          [hidden]="formulario.get('nombre')?.valid || formulario.get('nombre')?.pristine ">el valor debe estar entre
          8 y 12 caracteres
        </div>
      </div>

      <div><button class="btn btn-primary" [disabled]="formulario.invalid" type="submit">Guardar</button></div>

    </div>


  </form>


  <h3>aqui {{formulario.value | json}}</h3>

</div>