<div class="flex-container">
  <div>
    <h1 class="fst-normal">Manejo de pipes personalizados</h1>
    <br>
  </div>

</div>

<div class="flex-container-row">
  <div>
    <h3>Arreglo sin pasar por Pipe</h3>
    <ul>
      <li>{{arreglo[0] }}</li>
      <li>{{arreglo[1]}}</li>
      <li>{{arreglo[2]}}</li>
      <li>{{arreglo[3]}}</li>
    </ul>
  </div>
  <div>
    <h3>Arreglo pasado por el pipe</h3>
    <ul>
      <li>{{arreglo[0] | uppercase}}</li>
      <li>{{arreglo[1] | uppercase}}</li>
      <li>{{arreglo[2] | uppercase}}</li>
      <li>{{arreglo[3] | uppercase}}</li>

    </ul>
  </div>
  <div>
    <h3>Manejo de fecha personalizada</h3>
    <ul>
      <li>Fecha sin pasar por el pipe: {{fecha}}</li>
      <li>Fecha al pasar por pipe: {{fecha | formatoFecha}}</li>

    </ul>
  </div>
</div>